-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: fastfood
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `calam`
--

DROP TABLE IF EXISTS `calam`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calam` (
  `maCa` varchar(255) NOT NULL,
  `moTa` text,
  `gioBD` time DEFAULT NULL,
  `gioKT` time DEFAULT NULL,
  `trangThai` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`maCa`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `calam`
--

LOCK TABLES `calam` WRITE;
/*!40000 ALTER TABLE `calam` DISABLE KEYS */;
INSERT INTO `calam` VALUES ('CA001','Ca s├íng','08:00:00','12:00:00','1'),('CA002','Ca chi?u','13:00:00','17:00:00','1'),('CA003','Tß╗æi','18:00:00','22:00:00','1'),('CA004','Tr╞░a','13:00:00','18:00:00','1');
/*!40000 ALTER TABLE `calam` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chitietcongthuc`
--

DROP TABLE IF EXISTS `chitietcongthuc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chitietcongthuc` (
  `maCongThuc` varchar(255) NOT NULL,
  `maNguyenLieu` varchar(255) NOT NULL,
  `soLuong` double DEFAULT NULL,
  `donViTinh` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`maCongThuc`,`maNguyenLieu`),
  KEY `maNguyenLieu` (`maNguyenLieu`),
  CONSTRAINT `chitietcongthuc_ibfk_1` FOREIGN KEY (`maCongThuc`) REFERENCES `congthuc` (`maCongThuc`),
  CONSTRAINT `chitietcongthuc_ibfk_2` FOREIGN KEY (`maNguyenLieu`) REFERENCES `nguyenlieu` (`maNguyenLieu`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chitietcongthuc`
--

LOCK TABLES `chitietcongthuc` WRITE;
/*!40000 ALTER TABLE `chitietcongthuc` DISABLE KEYS */;
INSERT INTO `chitietcongthuc` VALUES ('CT001','NL001',2.5,'kg'),('CT001','NL002',1,'l├¡t'),('CT002','NL001',1.5,'kg');
/*!40000 ALTER TABLE `chitietcongthuc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chitiethoadon`
--

DROP TABLE IF EXISTS `chitiethoadon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chitiethoadon` (
  `maHoaDon` varchar(255) NOT NULL,
  `maThucAn` varchar(255) NOT NULL,
  `soLuongBan` int DEFAULT NULL,
  `thanhTien` double DEFAULT NULL,
  PRIMARY KEY (`maHoaDon`,`maThucAn`),
  KEY `maThucAn` (`maThucAn`),
  CONSTRAINT `chitiethoadon_ibfk_1` FOREIGN KEY (`maHoaDon`) REFERENCES `hoadon` (`maHoaDon`),
  CONSTRAINT `chitiethoadon_ibfk_2` FOREIGN KEY (`maThucAn`) REFERENCES `thucan` (`maThucAn`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chitiethoadon`
--

LOCK TABLES `chitiethoadon` WRITE;
/*!40000 ALTER TABLE `chitiethoadon` DISABLE KEYS */;
/*!40000 ALTER TABLE `chitiethoadon` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chitietkhuyenmai`
--

DROP TABLE IF EXISTS `chitietkhuyenmai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chitietkhuyenmai` (
  `maKhuyenMai` varchar(255) NOT NULL,
  `maThucAn` varchar(255) NOT NULL,
  `giaTriKhuyenMai` decimal(10,2) DEFAULT NULL,
  `trangThai` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`maKhuyenMai`,`maThucAn`),
  KEY `maThucAn` (`maThucAn`),
  CONSTRAINT `chitietkhuyenmai_ibfk_1` FOREIGN KEY (`maKhuyenMai`) REFERENCES `khuyenmai` (`maKhuyenMai`),
  CONSTRAINT `chitietkhuyenmai_ibfk_2` FOREIGN KEY (`maThucAn`) REFERENCES `thucan` (`maThucAn`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chitietkhuyenmai`
--

LOCK TABLES `chitietkhuyenmai` WRITE;
/*!40000 ALTER TABLE `chitietkhuyenmai` DISABLE KEYS */;
INSERT INTO `chitietkhuyenmai` VALUES ('KM001','TA001',10000.00,'1'),('KM002','TA002',10000.00,'1');
/*!40000 ALTER TABLE `chitietkhuyenmai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chitietphieunhap`
--

DROP TABLE IF EXISTS `chitietphieunhap`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chitietphieunhap` (
  `maPhieuNhap` varchar(255) NOT NULL,
  `soLuongNhap` int DEFAULT NULL,
  `maNguyenLieu` varchar(255) NOT NULL,
  `giaNhap` double DEFAULT NULL,
  `thanhTien` double DEFAULT NULL,
  `ghiChu` varchar(255) DEFAULT NULL,
  `trangThai` tinyint DEFAULT NULL,
  PRIMARY KEY (`maPhieuNhap`,`maNguyenLieu`),
  KEY `maNguyenLieu` (`maNguyenLieu`),
  CONSTRAINT `chitietphieunhap_ibfk_1` FOREIGN KEY (`maPhieuNhap`) REFERENCES `phieunhap` (`maPhieuNhap`),
  CONSTRAINT `chitietphieunhap_ibfk_2` FOREIGN KEY (`maNguyenLieu`) REFERENCES `nguyenlieu` (`maNguyenLieu`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chitietphieunhap`
--

LOCK TABLES `chitietphieunhap` WRITE;
/*!40000 ALTER TABLE `chitietphieunhap` DISABLE KEYS */;
INSERT INTO `chitietphieunhap` VALUES ('PN001',50,'NL001',140000,7000000,'Nh?p h├áng l?n 1',1),('PN002',30,'NL002',48000,1440000,'Nh?p h├áng l?n 2',1),('PN003',50,'NL002',48000,2400000,'',1),('PN004',50,'NL002',48000,2400000,'',1),('PN005',100,'NL001',140000,14000000,'',1),('PN006',100,'NL001',140000,14000000,'',1),('PN007',100,'NL001',140000,14000000,'',1),('PN008',2,'NL002',48000,72000,'',1),('PN009',50,'NL002',48000,2400000,'',1);
/*!40000 ALTER TABLE `chitietphieunhap` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chucvu`
--

DROP TABLE IF EXISTS `chucvu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chucvu` (
  `maChucVu` varchar(255) NOT NULL,
  `tenChucVu` varchar(255) DEFAULT NULL,
  `luongTheoGio` decimal(10,2) DEFAULT NULL,
  `trangThai` tinyint DEFAULT NULL,
  PRIMARY KEY (`maChucVu`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chucvu`
--

LOCK TABLES `chucvu` WRITE;
/*!40000 ALTER TABLE `chucvu` DISABLE KEYS */;
INSERT INTO `chucvu` VALUES ('CV001','Qu?n l├╜',35000.00,1),('CV002','Qu?n l├¡ kho',23000.00,1),('CV003','Thu ng├ón',26000.00,1),('CV004','K? to├ín',40000.00,1),('CV005','Admin',50000.00,1);
/*!40000 ALTER TABLE `chucvu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `congthuc`
--

DROP TABLE IF EXISTS `congthuc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `congthuc` (
  `maCongThuc` varchar(255) NOT NULL,
  `tenCongThuc` varchar(255) DEFAULT NULL,
  `moTa` text,
  PRIMARY KEY (`maCongThuc`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `congthuc`
--

LOCK TABLES `congthuc` WRITE;
/*!40000 ALTER TABLE `congthuc` DISABLE KEYS */;
INSERT INTO `congthuc` VALUES ('CT001','C├┤ng th?c m├│n A','H??ng d?n l├ám m├│n ?n A'),('CT002','C├┤ng th?c m├│n B','H??ng d?n l├ám m├│n ?n B');
/*!40000 ALTER TABLE `congthuc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hoadon`
--

DROP TABLE IF EXISTS `hoadon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hoadon` (
  `maHoaDon` varchar(255) NOT NULL,
  `ngayLap` date DEFAULT NULL,
  `maNhanVien` varchar(255) DEFAULT NULL,
  `maKhachHang` varchar(50) DEFAULT NULL,
  `tongTien` double DEFAULT NULL,
  `pttt` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`maHoaDon`),
  KEY `maNhanVien` (`maNhanVien`),
  KEY `maKhachHang` (`maKhachHang`),
  CONSTRAINT `hoadon_ibfk_1` FOREIGN KEY (`maNhanVien`) REFERENCES `nhanvien` (`maNhanVien`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hoadon`
--

LOCK TABLES `hoadon` WRITE;
/*!40000 ALTER TABLE `hoadon` DISABLE KEYS */;
/*!40000 ALTER TABLE `hoadon` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `khachhang`
--

DROP TABLE IF EXISTS `khachhang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `khachhang` (
  `maKhachHang` varchar(255) NOT NULL,
  `tenKhachHang` varchar(255) DEFAULT NULL,
  `gioiTinh` varchar(50) DEFAULT NULL,
  `SDT` varchar(10) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `diaChi` text,
  `soDiem` int DEFAULT NULL,
  `tenDangNhap` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`maKhachHang`),
  KEY `tenDangNhap` (`tenDangNhap`),
  CONSTRAINT `khachhang_ibfk_1` FOREIGN KEY (`tenDangNhap`) REFERENCES `taikhoan` (`tenDangNhap`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `khachhang`
--

LOCK TABLES `khachhang` WRITE;
/*!40000 ALTER TABLE `khachhang` DISABLE KEYS */;
INSERT INTO `khachhang` VALUES ('KH001','Nguyen Van C','Nam','0123456789','nguyenvanc@gmail.com','H├á N?i',100,'user1'),('KH002','Tran Thi D','N?','0987654321','tranthid@gmail.com','TP. H? Ch├¡ Minh',200,'user2');
/*!40000 ALTER TABLE `khachhang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `khuyenmai`
--

DROP TABLE IF EXISTS `khuyenmai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `khuyenmai` (
  `maKhuyenMai` varchar(255) NOT NULL,
  `tenKhuyenMai` varchar(255) DEFAULT NULL,
  `donViKhuyenMai` varchar(255) DEFAULT NULL,
  `ngayBatDau` date DEFAULT NULL,
  `ngayKetThuc` date DEFAULT NULL,
  `giaTriKhuyenMai` double DEFAULT NULL,
  `dieuKienApDung` text,
  `trangThai` tinyint DEFAULT NULL,
  PRIMARY KEY (`maKhuyenMai`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `khuyenmai`
--

LOCK TABLES `khuyenmai` WRITE;
/*!40000 ALTER TABLE `khuyenmai` DISABLE KEYS */;
INSERT INTO `khuyenmai` VALUES ('KM001','Gi?m gi├í 10%','Sß╗æ tiß╗ün','2025-03-01','2025-04-23',10,'T?ng ti?n > 100,000',1),('KM002','Gi?m gi├í 20%','Sß╗æ tiß╗ün','2025-03-15','2025-04-15',20000,'T?ng ti?n > 200,000',1);
/*!40000 ALTER TABLE `khuyenmai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lichlamviec`
--

DROP TABLE IF EXISTS `lichlamviec`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lichlamviec` (
  `maLichLam` varchar(255) NOT NULL,
  `maNhanVien` varchar(255) NOT NULL,
  `ngayLamViec` varchar(255) DEFAULT NULL,
  `maCaLam` varchar(255) DEFAULT NULL,
  `trangThai` tinyint DEFAULT NULL,
  PRIMARY KEY (`maLichLam`,`maNhanVien`),
  KEY `maNhanVien` (`maNhanVien`),
  KEY `maCaLam` (`maCaLam`),
  CONSTRAINT `lichlamviec_ibfk_1` FOREIGN KEY (`maNhanVien`) REFERENCES `nhanvien` (`maNhanVien`),
  CONSTRAINT `lichlamviec_ibfk_2` FOREIGN KEY (`maNhanVien`) REFERENCES `nhanvien` (`maNhanVien`),
  CONSTRAINT `lichlamviec_ibfk_3` FOREIGN KEY (`maCaLam`) REFERENCES `calam` (`maCa`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lichlamviec`
--

LOCK TABLES `lichlamviec` WRITE;
/*!40000 ALTER TABLE `lichlamviec` DISABLE KEYS */;
INSERT INTO `lichlamviec` VALUES ('LL001','NV001','2025-04-01','CA001',1),('LL002','NV002','2025-04-02','CA002',1),('LL003','NV534','2025-04-06','CA003',1),('LL004','NV001','2025-04-09','CA002',1),('LL005','NV002','2025-04-09','CA004',1),('LL006','NV534','2025-04-09','CA003',1),('LL007','NV001','2025-04-15','CA002',1),('LL008','NV001','2025-04-16','CA004',1),('LL009','NV002','2025-04-16','CA003',1);
/*!40000 ALTER TABLE `lichlamviec` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nguyenlieu`
--

DROP TABLE IF EXISTS `nguyenlieu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nguyenlieu` (
  `maNguyenLieu` varchar(255) NOT NULL,
  `tenNguyenLieu` varchar(255) DEFAULT NULL,
  `loaiNguyenLieu` varchar(255) DEFAULT NULL,
  `ngayNhap` date DEFAULT NULL,
  `ngayHetHan` date DEFAULT NULL,
  `soLuong` double DEFAULT NULL,
  `donViDo` varchar(50) DEFAULT NULL,
  `gia` double DEFAULT NULL,
  PRIMARY KEY (`maNguyenLieu`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nguyenlieu`
--

LOCK TABLES `nguyenlieu` WRITE;
/*!40000 ALTER TABLE `nguyenlieu` DISABLE KEYS */;
INSERT INTO `nguyenlieu` VALUES ('NL001','Th?t b├▓','Thß╗▒c phß║⌐m t╞░╞íi sß╗æng','2025-04-01','2025-04-10',95.5,'kg',150000),('NL002','N??c m?m','Gia v?','2025-04-02','2025-05-01',49.5,'l├¡t',50000);
/*!40000 ALTER TABLE `nguyenlieu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nhacungcap`
--

DROP TABLE IF EXISTS `nhacungcap`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nhacungcap` (
  `maNhaCungCap` varchar(255) NOT NULL,
  `tenNhaCungCap` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `SDT` varchar(15) DEFAULT NULL,
  `diaChi` text,
  `trangThai` tinyint DEFAULT NULL,
  PRIMARY KEY (`maNhaCungCap`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nhacungcap`
--

LOCK TABLES `nhacungcap` WRITE;
/*!40000 ALTER TABLE `nhacungcap` DISABLE KEYS */;
INSERT INTO `nhacungcap` VALUES ('NCC001','C├┤ng ty A','congtya@gmail.com','0123456789','H├á N?i',1),('NCC002','C├┤ng ty B','congtyb@gmail.com','0987654321','TP. H? Ch├¡ Minh',1);
/*!40000 ALTER TABLE `nhacungcap` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nhanvien`
--

DROP TABLE IF EXISTS `nhanvien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nhanvien` (
  `maNhanVien` varchar(255) NOT NULL,
  `tenNhanVien` varchar(255) DEFAULT NULL,
  `SDT` varchar(10) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `ngaySinh` date DEFAULT NULL,
  `gioiTinh` varchar(50) DEFAULT NULL,
  `diaChi` text,
  `trangThai` varchar(50) DEFAULT NULL,
  `maChucVu` varchar(255) DEFAULT NULL,
  `tenDangNhap` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`maNhanVien`),
  KEY `maChucVu` (`maChucVu`),
  KEY `tenDangNhap` (`tenDangNhap`),
  CONSTRAINT `nhanvien_ibfk_1` FOREIGN KEY (`maChucVu`) REFERENCES `chucvu` (`maChucVu`),
  CONSTRAINT `nhanvien_ibfk_2` FOREIGN KEY (`tenDangNhap`) REFERENCES `taikhoan` (`tenDangNhap`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nhanvien`
--

LOCK TABLES `nhanvien` WRITE;
/*!40000 ALTER TABLE `nhanvien` DISABLE KEYS */;
INSERT INTO `nhanvien` VALUES ('NV001','Nguyen Van A','0123456789','nva@gmail.com','2000-03-09','Nam','H├á N?i','─Éang l├ám viß╗çc','CV001','user1'),('NV002','Tran Thi B','0987654321','ttb@gmail.com','2001-02-02','Nam','TP. H? Ch├¡ Minh','─Éang l├ám viß╗çc','CV002','user2'),('NV534','L├¬ Thß╗ï C','0987069912','lethic@gmail.com','2000-09-08','Nß╗»','12 V├╡ V─ân Kiß╗çt, p.5, q.8, tpHCM','─Éang l├ám viß╗çc','CV003','NV534'),('NV535','Tran Thi Tu','0987960987','thitu@gmail.com','2002-04-08','Nß╗»','cvb, p.8, q.9','─Éang l├ám viß╗çc','CV004','NV535');
/*!40000 ALTER TABLE `nhanvien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phanphoi`
--

DROP TABLE IF EXISTS `phanphoi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `phanphoi` (
  `maNCC` varchar(255) NOT NULL,
  `maNguyenLieu` varchar(255) NOT NULL,
  `giaNhap` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`maNCC`,`maNguyenLieu`),
  KEY `maNguyenLieu` (`maNguyenLieu`),
  CONSTRAINT `phanphoi_ibfk_1` FOREIGN KEY (`maNCC`) REFERENCES `nhacungcap` (`maNhaCungCap`),
  CONSTRAINT `phanphoi_ibfk_2` FOREIGN KEY (`maNCC`) REFERENCES `nhacungcap` (`maNhaCungCap`),
  CONSTRAINT `phanphoi_ibfk_3` FOREIGN KEY (`maNguyenLieu`) REFERENCES `nguyenlieu` (`maNguyenLieu`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phanphoi`
--

LOCK TABLES `phanphoi` WRITE;
/*!40000 ALTER TABLE `phanphoi` DISABLE KEYS */;
INSERT INTO `phanphoi` VALUES ('NCC001','NL001',140000.00),('NCC002','NL002',48000.00);
/*!40000 ALTER TABLE `phanphoi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phieunhap`
--

DROP TABLE IF EXISTS `phieunhap`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `phieunhap` (
  `maPhieuNhap` varchar(255) NOT NULL,
  `ngayNhap` date DEFAULT NULL,
  `maNhanVien` varchar(255) DEFAULT NULL,
  `maNCC` varchar(255) DEFAULT NULL,
  `tongTien` varchar(255) DEFAULT NULL,
  `trangThai` tinyint DEFAULT NULL,
  PRIMARY KEY (`maPhieuNhap`),
  KEY `maNhanVien` (`maNhanVien`),
  CONSTRAINT `phieunhap_ibfk_1` FOREIGN KEY (`maNhanVien`) REFERENCES `nhanvien` (`maNhanVien`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phieunhap`
--

LOCK TABLES `phieunhap` WRITE;
/*!40000 ALTER TABLE `phieunhap` DISABLE KEYS */;
INSERT INTO `phieunhap` VALUES ('PN001','2025-04-01','NV001','NCC001','1500000',1),('PN002','2025-04-02','NV002','NCC002','750000',1),('PN003','2025-04-05','NV001','NCC001','2400000.0',1),('PN004','2025-04-05','NV001','NCC001','2400000.0',1),('PN005','2025-04-06','NV001','NCC001','14000000',1),('PN006','2025-04-06','NV001','NCC001','14000000',1),('PN007','2025-04-06','NV001','NCC001','14000000',1),('PN008','2025-04-06','NV001','NCC002','72000.0',1),('PN009','2025-04-06','NV001','NCC002','2400000.0',1);
/*!40000 ALTER TABLE `phieunhap` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `taikhoan`
--

DROP TABLE IF EXISTS `taikhoan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `taikhoan` (
  `tenDangNhap` varchar(255) NOT NULL,
  `matKhau` varchar(255) DEFAULT NULL,
  `trangThai` varchar(50) DEFAULT NULL,
  `ngayTao` date DEFAULT NULL,
  `vaiTro` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`tenDangNhap`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `taikhoan`
--

LOCK TABLES `taikhoan` WRITE;
/*!40000 ALTER TABLE `taikhoan` DISABLE KEYS */;
INSERT INTO `taikhoan` VALUES ('NV534','12345@','Active','2025-04-15','Thu ng├ón'),('NV535','12345@','Active','2025-04-22','K? to├ín'),('user1','password1','Active','2025-01-01','Quß║ún l├¡'),('user2','password2','Active','2025-01-02','Admin');
/*!40000 ALTER TABLE `taikhoan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thucan`
--

DROP TABLE IF EXISTS `thucan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `thucan` (
  `maThucAn` varchar(255) NOT NULL,
  `tenThucAn` varchar(255) DEFAULT NULL,
  `anhThucAn` varchar(255) DEFAULT NULL,
  `moTa` text,
  `loaiMonAn` varchar(255) DEFAULT NULL,
  `gia` double DEFAULT NULL,
  `soLuong` int DEFAULT NULL,
  `maCongThuc` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`maThucAn`),
  KEY `maCongThuc` (`maCongThuc`),
  CONSTRAINT `thucan_ibfk_1` FOREIGN KEY (`maCongThuc`) REFERENCES `congthuc` (`maCongThuc`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thucan`
--

LOCK TABLES `thucan` WRITE;
/*!40000 ALTER TABLE `thucan` DISABLE KEYS */;
/*!40000 ALTER TABLE `thucan` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-04-22 19:41:51
